extends ../inc/layout.pug

block content
  h1 Hello
  p You have been invited to start using the Abilion Treatment Management System by #{invitedBy}.
  p To start, click on the link below to setup your password. The link will only be valid for a limited time.
  p #{welcomeLink}
