extends ../inc/layout.pug

block content
  h1 Hello
  p A request to reset your password in the Abilion Treatment Management System has been made. If you did not initiate this password reset, just delete this mail and nothing more will happen.
  p To reset your passward, click on the link below and follow the instructions. The link will only be valid for a short time.
  p #{resetLink}
